<!--templates/board/article_detail.html-->
{% extends 'base.html' %}
{% block title %}{{object.title}}{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">{{object.title}}</h5>
        <small>by {{object.author}}</small>
    </div>
    <div class="card-body">
        <p style="text-align:right"><small>작성 일시{{object.created_at|date:'Y-m-d, H:i'}}<br>
            수정 일시 {{object.modified_at|date:'Y-m-d, H:i'}}</small></p>
        <p class="card-text">{{object.content}}</p>
        <div class="text-end">
            <a href="{% url 'update' object.id %}" class="btn btn-primary btn-sm">수정</a>
            <a href="{% url 'delete' object.id %}" class="btn btn-primary btn-sm">삭제</a>
            <a href="{% url 'index' %}" class="btn btn-primary btn-sm">목록</a>
        </div>
    </div>
</div>
{% endblock %}